@media screen and (min-width: 768px) {
    body{
        display: grid;
        grid-template-columns: auto;
        justify-content:left;
    }
    .large{
        width:300px;
        height:900px;
        background-color: blue;
    }
    .medium {
        margin-left:300px;
        width:300px;
        height:900px;
        background-color: green;
        margin-top:-80px;
    }
    .small{
        margin-left: 300px;
        width:300px;
        height:900px;
        background-color: red;
        margin-top:-60px;
    }
}

@media (min-width: 300px) and (max-width:768px) {
    body {
        text-align: center;
        display:grid;
        grid-template-rows: auto auto auto;
    }
    .medium{
        display:block;
        height:500px;
        width:500px;
        background-color: green;
    }
    .large {
        display:block;
        width:768px;
        height:750px;
        background-color: blue;
        z-index:-1;
    }
    .small{
        display:block;
        width:250px;
        height: 250px;
        background-color: red;
    }
}

@media screen and (max-width: 300px) {
    body {
        display:grid;
        grid-template-rows: auto auto auto;
    }
    .small {
        text-align: center;
        background-color:red;
        width:300px;
        height:100px;
        margin-top: 100px;
    }
    .medium {
        text-align: center;
        background-color: green;
        width: 300px;
        height:200px;
        margin-top: 200px;
    }
    .large{
        text-align: center;
        background-color:blue;
        width: 300px;
        height: 300px;
    }
}